* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

.main-container {
  width: 90%;
  margin: 80px auto;
  max-width: 800px;
}
@media (1024px <= width) {
.main-container {
  max-width: unset;
}

  @media (1024px <= width) {
    .top { display: flex;
    justify-content: space-between;
  }
}

h1 {
  color: hsl(300, 43%, 22%);
  text-align: center;
  max-width: 280px;
  font-size: 38px;

}
@media (1024px <= width) {
  hi{ font-size: 60px;
   text-align: left;
   margin: 0;
   min-width: 100%;
 }
 }


.text p {
  color: hsl(303, 10%, 53%);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
@media (1024px <= width) {
  .text p {
  text-align: left;
  max-width: 500px;
  font-size: 20px;
  margin-top: 20px;
}
}

.reviews {
  margin-top: 30px;
}
@media (1024px <= width) {
 .reviews{ width: 40%;
  margin: 0;
  padding: 20px 0;
}
}
.review {
  padding: 20px 0;
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

@media (1024px <= width){
  .review{flex-direction: row;
  padding: 20px;
  justify-content: unset;
  max-width: 100%;
}
}

@media (1024px <= width) {
  .review:nth-child(1) {
    margin-left: -100px;
  }
  .review:nth-child(2) {
    margin-left: -50px;
  }
}

.review p {
  margin-top: 5px;
  color: hsl(300, 43%, 22%);
  font-weight: 600;
  font-size: 18px;

}
@media (1024px <= width) {
 .review p{ margin-left: 40px;
}

.testimonials {
  margin-top: 40px;

}
@media (1024px <= width) {
  .testimonials{
    display: flex;
  gap: 30px;
}
}

.testimonial {
  border-radius: 8px;
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  padding: 30px 45px;
  margin-bottom: 20px;

}
@media (1024px <= width) {
 .testimonial{ margin-bottom: 0;
  max-height: 230px;
}
}

@media (1024px <= width) {
  .testimonial:nth-child(2) {
    margin-top: 50px;
  }
  .testimonial:nth-child(3) {
    margin-top: 100px;
  }
}

.testimonial .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.testimonial .top img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.testimonial .top .top-text {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
}

.testimonial .top .top-text h3, span {
  font-size: 15px;
  font-weight: 500;
}

.testimonial .top .top-text span {
  margin-top: 5px;
  color: hsl(333, 80%, 67%);
  display: block;
}

.testimonial .bottom-text {
  margin-top: 20px;
  line-height: 25px;
  font-weight: 600;
  font-size: 15px;
}
}}